btn,
.btn-primary,
.btn-large,
input#submitCommentButton,
.readmore {
    background-color: #cb0000;
    color: #fff;
    -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    transition: background-color 1000ms;
}
btn:hover,
.btn-primary:hover,
.btn-large:hover,
input#submitCommentButton:hover,
.readmore:hover {
    color: #fff;
    background-color: #444;
}
button,
input[type='submit'],
input[type='button'],
submit,
.button {
    border: 0;
    padding: 5px 12px;
    display: inline-block;
    background-color: #cb0000;
    color: #fff;
    -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    transition: background-color 1000ms;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover,
.button:hover {
    color: #fff;
    background-color: #444;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #cb0000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a {
    color: #cb0000;
}
a:hover {
    color: #444;
}
body {
    color: #444444;
}
body.bg {
    background: #fff;
}
.module h3 {
    background: #cb0000;
}
#sp-main-menu ul.level-0>li:hover>a:after,
#sp-main-menu ul.level-0>li.active>a:after {
    background: #cb0000;
}
#sp-main-menu ul.level-0>li>a {
    color: #cb0000;
    position: relative;
}
#sp-main-menu li li {
    border-top: 1px solid #ff7e29;
    border-bottom: 1px solid #eb5e00;
}
.sp-submenu .sp-submenu-wrap {
    background: #cb0000;
}
#sp-title-wrapper {
    color: #cb0000;
}
#sp-title-wrapper .title-border {
    border-left: 4px solid #cb0000;
}
#sp-slideshow-wrapper #sp-slideshow .layout-minima .slider-controllers ul li.active {
    border: 1px solid #cc5200;
    background: #cb0000;
}
#sp-user-top-wrapper .sp-box {
    background-color: #fff;
    color: #cb0000;
}
#sp-user-top-wrapper .sp-box:hover {
    background-color: #cb0000;
    color: #fff;
}
#sp-user-top-wrapper .sp-box:hover h2 {
    color: #fff;
}
#sp-user-top-wrapper .sp-box h2 {
    color: #cb0000;
}
#sp-footer-wrapper #sp-footer2 .sp-totop i {
    background: #cb0000;
}
.module.highlighted>.mod-wrapper {
    background-color: ;
}
.module.highlighted>.mod-wrapper a:not(.btn) {
    color: #ffc299;
}
.module.highlighted>.mod-wrapper a:not(.btn):hover {
    color: #ffe0cc;
}
.item-page h2 {
    color: #cb0000;
}
.item-page ul.gallery li a span {
    color: #cb0000;
}
.accordion-heading .accordion-toggle {
    background-color: #cb0000;
}
.accordion-heading .accordion-toggle.collapsed {
    background: #dedede;
    color: #444;
}
.accordion-heading .accordion-toggle.collapsed i {
    color: #fff;
}
.tab_comment .sptabs ul.tabs_container li.tab.active {
    border-top: 4px solid #cb0000;
}
#sp-right .k2ItemsBlock>ul li .moduleItemDateCreated {
    color: #cb0000;
}
ul.pricing-table li.plan-price {
    color: #cb0000;
}
ul.pricing-table li.plan-name.bg {
    background: #cb0000;
}
.sp-service-page .sp-blocknumber span {
    background: #cb0000;
}
.pagination ul li a:hover,
.pagination ul li a.active {
    background-color: #cb0000!important;
}
.pagination ul li.pagination-active a {
    background-color: #ededed!important;
}
div.catItemView,
div.itemBody,
div.userItemView {
    border-bottom: 4px solid #cb0000;
}
div.itemTagsBlock ul.itemTags li:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #cb0000;
}
div.itemTagsBlock ul.itemTags li a {
    background: #cb0000 url(../../images/presets/preset1/circle-tag.png) no-repeat 100%;
}
div.itemTagsBlock ul.itemTags li a:hover {
    background: #bcbcbc url(../../images/presets/preset1/circle-tag.png) no-repeat 100%;
}
.rtl div.itemTagsBlock ul.itemTags li a:hover {
    background: #bcbcbc url(../../images/presets/preset1/circle-tag.png) no-repeat 0%;
}
h3.itemCommentsCounter,
div.itemComments ul.itemCommentsList li span.commentLink a {
    color: #cb0000;
}
div.itemCommentsForm h3 {
    color: #cb0000;
}